apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
        - name: service-a
          image: embarkx/tax-service-a:latest
          env:
            - name: TAX_SERVICE_URL
              value: "http://service-b:4000"
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: service-a
spec:
  selector:
    app: service-a
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000  