apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-b
  template:
    metadata:
      labels:
        app: service-b
    spec:
      containers:
        - name: service-b
          image: embarkx/tax-service-b:latest
          # env:
          #   - name: ENV_VALUE
          #     value: "Hello from app.yaml"
          #   - name: DB_PASSWORD
          #     value: "cGFzc3dvcmQ=" # base64 for 'password'
          # env:
          #   - name: ENV_VALUE
          #     valueFrom:
          #       configMapKeyRef:
          #         name: hello-app-config
          #         key: HELLO_APP_MESSAGE
          #   - name: DB_PASSWORD
          #     valueFrom:
          #       secretKeyRef:
          #         name: hello-db-secret
          #         key: HELLO_DB_PASSWORD
          ports:
            - containerPort: 4000
---
apiVersion: v1
kind: Service
metadata:
  name: service-b
spec:
  selector:
    app: service-b
  type: ClusterIP
  ports:
    - port: 4000
      targetPort: 4000